
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;200;300;400;600;700&family=Roboto:wght@100;300;400&display=swap');

:root {
  /* Colors */
  --color-green-bright: rgb(89, 248, 89);
  --color-purple-main: #a66bfd;
  --color-purple-dark: #601eca;
  --color-gray-background: #e4e4e4;
  --color-gray-light: rgba(255,255,255, 0.5);
  --color-gray-dark: rgb(163,177,198,0.6);
  --color-gray-darker: rgba(153, 156, 160);
  --color-bronw-light: #a1887f;
  --color-pink-main: #ff85ae;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.app {
  height: 80vh;
  width: 40vw;
  margin: 15px auto;
  border-radius: 10px;
  background-color: var(--color-gray-background);
  padding: 0;
  box-shadow: 9px 9px 16px var(--color-gray-dark), -9px -9px 16px  var(--color-gray-light);
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

nav {
  background-color: var(--color-purple-main);
  color: white;
  width: 100%;
  height: 12vh;
  text-align: center;
  padding: 0.6em 1.3em;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 3em;
  border-radius: 10px 10px 0 0;

}


.navbar__count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0.5em;
  background-color: rgb(255, 255, 255);
  color: var(--color-purple-main);
  border-radius: 50%;
}

.add-form {
  margin: auto;
  width: 95%;
  height: 7vh;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0.3rem 0.1rem;
  border-bottom: 1px solid var(--color-gray-light);
  color: var(--color-purple-main);
  list-style: none;
  display: flex;
  align-items: center;
}

input {
  height: 95%;
  width: 70%;
  font-family: 'Montserrat' sans-serif;
  color: var(--color-gray-dark);
  font-size: 1.8rem; 
  font-weight: 100;
  margin: 5px 10px 5px 0px;
  padding: .1rem .4rem .4rem .4rem;
  border: 1px solid var(--color-gray-dark);
  border-radius: 4px;
  line-height: 1.8rem;
 
}
input::placeholder {
  font-family: 'Montserrat' sans-serif;
  color: var(--color-gray-dark);
  font-size: 1.2rem; 
  font-weight: 100;
  text-transform: uppercase;
}
.add-button {
  height: 95%;
  width: 25%;
  font-family: 'Montserrat' sans-serif;
  background-color: var(--color-bronw-light);
  color: white;
  font-size: 1.8rem; 
  font-weight: 100;
  margin: 1px 10px 1px 0px;
  border: none;
  border-radius: 4px;
  line-height: 1.8rem;
}
.habit__list {
  margin: 0 auto;
  position: relative;
  height: 61vh;
}
.habit {
  margin: auto;
  width: 90%;
  border-bottom: 1px solid var(--color-gray-light);
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0.3em;
  color: var(--color-purple-main);
  list-style: none;
  display: flex;
  align-items: center;
}
.habit > .habit__name {
  flex-basis: 70%;
  font-size: 1.5rem;

}

.habit__count {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: var(--color-purple-main);
  color: white;
  border-radius: 50%;
}

.habit__button {
  font-size: 2rem;
  margin: 0 0.2em;
  background-color: transparent;
}

.habit-increase,
.habit-decrease {
  color: var(--color-gray-darker);
}

.habit-delete {
  font-size: 2rem;
  color: var(--color-gray-darker);
}


.habits-reset {
  position: absolute;
  bottom: -1px;
  height: 50px;
  width: 100%;
  font-family: 'Montserrat' sans-serif;
  background-color: var(--color-bronw-light);
  color: white;
  font-size: 1.8rem; 
  font-weight: 100;
  margin: 1px 10px 1px 0px;
  border: none;
  border-radius: 0px 0px 4px 4px;
  line-height: 1.8rem;
}